@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
@*<link type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
@*<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@
<link href="~/css/frame.css" rel="stylesheet" />

<main>

    <div id="mouseImg"><img style="z-index:999; position:absolute" src="~/打地鼠/鼠标锤子.png"  /></div>

    <div id="backgrand">

        <div id="area">

            <div id="row1">

                <div id="area1" style="width: 826px;height: 289px;">
                    <img id="mound1" src="~/打地鼠/土堆.png" alt="Alternate Text" />
                </div>

                <div id="area2" style="width: 826px;height: 289px;">
                    <img id="mound2" src="~/打地鼠/土堆.png" alt="Alternate Text" />
                </div>

                <div id="area3" style="width: 826px;height: 289px;">
                    <img id="mound3" src="~/打地鼠/土堆.png" alt="Alternate Text" />
                </div>

            </div>

            <div id="row2">

                <div id="area4" style="width: 826px;height: 289px;">
                    <img id="mound4" src="~/打地鼠/土堆.png" alt="Alternate Text" />
                </div>

                <div id="area5" style="width: 826px;height: 289px;">
                    <img id="mound5" src="~/打地鼠/土堆.png" alt="Alternate Text" />
                </div>

                <div id="area6" style="width: 826px;height: 289px;">
                    <img id="mound6" src="~/打地鼠/土堆.png" alt="Alternate Text" />
                </div>

            </div>

        </div>

    </div>


</main>

<script type="text/javascript" src="~/js/site.js"></script>


<script>
    //文档准备就绪函数
    $(function () {
        //图片跟着鼠标移动的效果
        // 当鼠标指针在指定的元素中移动时，就会发生 mousemove 事件。
        $(document).mousemove(function (e) {
            //获取图片所在的位置，使用css设置相对位置（ "position": "absolute"）
            //鼠标相对于文档的左边缘的位置（"left": e.pageX ）
            //鼠标相对于文档的左边缘的位置（ "top": e.pageY ）
            $("#mouseImg").css({ "position": "absolute", "left": e.pageX-400, "top": e.pageY-550 });
        });
    });
</script>
