@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
@*<link type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
@*<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@
<link href="~/css/frame.css" rel="stylesheet" />

<main>



    <div id="backgrand">

        <div id="area">

            <div id="row1">

                <div id="area1" style="width: 826px;height: 289px;">
                    <img id="mound1" src="~/打地鼠/土堆.png" alt="Alternate Text" />
                </div>

                <div id="area2" style="width: 826px;height: 289px;">
                    <img id="mound2" src="~/打地鼠/土堆.png" alt="Alternate Text" />
                </div>

                <div id="area3" style="width: 826px;height: 289px;">
                    <img id="mound3" src="~/打地鼠/土堆.png" alt="Alternate Text" />
                </div>

            </div>

            <div id="row2" >

                <div id="area4" style="width: 826px;height: 289px;">
                    <img id="mound4" src="~/打地鼠/土堆.png" alt="Alternate Text" />
                </div>

                <div id="area5" style="width: 826px;height: 289px;">
                    <img id="mound5" src="~/打地鼠/土堆.png" alt="Alternate Text" />
                </div>

                <div id="area6" style="width: 826px;height: 289px;">
                    <img id="mound6" src="~/打地鼠/土堆.png" alt="Alternate Text" />
                </div>

            </div>

        </div>

    </div>


</main>

<script type="text/javascript" src="~/js/moveUp.js"></script>