@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/frame.css" rel="stylesheet" />

<main>

    <div id="backgrand" >

        <div id="area">

            <div id="row1">

                <div id="area1">
                    <img id="mound1"  src="~/打地鼠/土堆.png" alt="Alternate Text" />
                    @*<img id="mole1" style="margin-left:220px;margin-top:45px;"  src="~/打地鼠/萌地鼠.png" alt="Alternate Text" />*@
                </div>

                <div id="area2">
                    <img id="mound2"  src="~/打地鼠/土堆.png" alt="Alternate Text" />
                    <img id="mole2"  src="~/打地鼠/萌地鼠.png" alt="Alternate Text" />
                </div>

                <div id="area3">
                    <img id="mound3"  src="~/打地鼠/土堆.png" alt="Alternate Text" />
                    <img id="mole3"  src="~/打地鼠/萌地鼠.png" alt="Alternate Text" />
                </div>

            </div>

            <div id="row2">

                <div id="area4">
                    <img id="mound4"  src="~/打地鼠/土堆.png" alt="Alternate Text" />
                    <img id="mole4"  src="~/打地鼠/萌地鼠.png" alt="Alternate Text" />
                </div>

                <div id="area5">
                    <img id="mound5"  src="~/打地鼠/土堆.png" alt="Alternate Text" />
                    <img id="mole5"  src="~/打地鼠/萌地鼠.png" alt="Alternate Text" />
                </div>

                <div id="area6">
                    <img id="mound6"  src="~/打地鼠/土堆.png" alt="Alternate Text" />
                    <img id="mole6"  src="~/打地鼠/萌地鼠.png" alt="Alternate Text" />
                </div>

            </div>

        </div>

    </div>


</main>


<script src="~/js/hitMole.js" type="text/javascript"></script>