
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @ViewData["IntTestDate"]
    @ViewBag.StringTestData

    <ul>
        @foreach (var item in ViewBag.ListData)
        {
            <li>@item</li>
        }
    </ul>
</body>
</html>
