
#grade{
    color:red;
    font-size:40px;
    margin-left:100px;
    margin-top:80px;
    z-index:10;
    float:left;
}

#beginGame{
    float:left;
    margin-left:270px;
    margin-top:80px;
}

#backgrand {
    float: left;
    width: 1020px;
    height: 676px;
    background: url(../打地鼠/背景.jpg);
    background-size: cover;
    z-index: -10;
}

#area {
    margin-top: 365px;
    margin-left: 120px;
}

#row1 {
    height: 100px;
}

#row2 {
    height: 100px;
}

#row1 > div {
    float: left;
    width: 250px;
    height: 100px;
}

#row2 > div {
    float: left;
    width: 250px;
    height: 100px;
}

#mound1 {
    z-index: 3;
    position: absolute;
    left: 165px;
    top: 380px;
}

#mound2 {
    z-index: 3;
    position: absolute;
    left: 420px;
    top: 380px;
}

#mound3 {
    z-index: 3;
    position: absolute;
    left: 675px;
    top: 380px;
}

#mound4 {
    z-index: 3;
    position: absolute;
    left: 165px;
    top: 480px;
}

#mound5 {
    z-index: 3;
    position: absolute;
    left: 420px;
    top: 480px;
}

#mound6 {
    z-index: 3;
    position: absolute;
    left: 675px;
    top: 480px;
}

#mole1 {
    z-index: 2;
}

#mole2 {
    z-index: 2;
    position: absolute;
}

#mole3 {
    z-index: 2;
    position: absolute;
}

#mole4 {
    z-index: 2;
    position: absolute;
}

#mole5 {
    z-index: 2;
    position: absolute;
}

#mole6 {
    z-index: 2;
    position: absolute;
}
