
#leftArea {
    float: left;
    padding: 0px 15px;
}

.indent {
    width:1130px;
    height:auto;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#keyWord {
    color: aquamarine;
    margin-bottom: 30px;
}

hr {
    border-top: 1px solid #eee;
}

.keyWord {
    display: block;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 10px;
    border: 2px dashed #eee;
}

.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.font-color {
    color: black;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.word {
    margin: 5px 20px 5px 0;
    padding: 3px 7px;
    display: inline-block;
    background-color: #777;
    border-radius: 10px;
    font-weight: bold
}

.wordLink {
    color: white;
}

#sightGlass {
    border-left: 6px solid gray;
    margin-bottom: 20px;
    width: 744px;
    height: 31px;
}

pull-left {
    float: left;
}

pull-right {
    float: right;
}

.fa {
    color: #777;
}

a:hover {
    text-decoration: underline;
}

.message {
    width: 750px;
    height: 183px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}

small {
    font-size: 80%;
    color: #777;
}

#divLink {
    font-size: 75%;
    margin-bottom: 5px;
}

.status {
    color: black;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin-top: 60px;
}

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }

            ul.pagination li a.active {
                background-color: #337ab7;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }

#rightArea {
   width: 328px;height: 900px;float:right;
}

#article {
    margin-right:10px;
    border: 1px dashed #eee;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #fff;
}
.active span{
   background-color:black;
}

.blockWord{
    display:block;
}

#advertisement {
    margin-right:10px;
    border: 1px dashed #eee;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #fff;
}

div label {
    padding-left: 20px;
}
.status > span {
    margin-right: 14px;
}