@page
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <style>

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            list-style-type: none;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 100px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            margin-left: -56px;
            padding: 0;
        }

            .dropdown-content > li {
                margin: 6px,0px;
            }

        .dropdown:active.dropdown-content {
            display: block;
        }

        a:link {
            text-decoration: none;
        }

        p.boder {
            border-style: solid;
            border-width: 1px;
        }

        header li {
            color: black;
        }

        header.fixed-top {
            top: 0px;
        }

        div.pull-left {
            float: left;
        }

        div.float-right {
            float: right;
            margin-top: 10px;
            margin-right: 40px;
        }

        img.float-left {
            margin-left: 40px;
            float: left;
            width: 48px;
            height: 48px;
        }

        header.border {
            border-style: groove;
            border-width: 0.5px;
        }

        p.float-left {
            float: left;
            margin-top: 20px;
            margin-left: 10px;
        }

        a.prepageBack {
            float: right;
            margin: 8px;
            padding: 5px 7px;
            background-color: #7fffd4
        }

        p.content {
            width: 100%;
            height: auto;
            word-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
        }

        header {
            color: ivory;
            background-color: aliceblue;
        }

        a.feedBake {
            position: fixed;
            top: 340px;
            right: 200px;
            padding: 5px 7px;
            background-color: #7fffd4
        }

        div.information {
            margin-top: 2px;
            margin-left: 190px;
            margin-right: 190px;
            background-color: #eee;
        }

        a.help {
            position: fixed;
            top: 300px;
            right: 200px;
            padding: 5px 7px;
            background-color: #7fffd4
        }

        div.invitation {
            border: 2px dashed #eee;
            float: left;
            background-color: #ffffe0;
            width: 270px;
            height: 140px;
        }

        a:link {
            color: blueviolet;
        }

        a:hover {
            color: #FF00FF;
        }
    </style>
    <meta charset="utf-8" />
    <link href="~/images/logo-big.ico" rel="shortcut icon" />
    <title>注册·一起帮</title>
</head>

<body style="margin:0px;">

    <header class="padding fixed-top border" style="height:72px;top:0; background-color: #f8f8f8;">

        <div style="margin-left:160px;margin-right:160px;">

            <a href="http://17bang.ren/"><img class="float-left" style="color:black; margin:8px; margin-left:40px; " src="~/images/logo-big.ico" alt="17bang" /></a>

            <span style="color:black; float: left; margin-top: 20px;">
                <span style="font-size:18px;font-weight:600;">一起帮</span>
                <span>·网络互助平台</span>
            </span>

            <div class="float-right" style="margin-top:22px;">
                <ul style="clear:both;display: inline;padding:15px;">
                    <li class="dropdown" style="margin-right:20px;">
                        <span>求助</span>
                        <ul class="dropdown-content" style="margin-right:20px;">
                            <li><a href="http://17bang.ren/Problem/New">帮助</a></li>
                            <li><a href="http://17bang.ren/Problem?excludeCanceled=true&excludeRewarded=true">列表</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" style="margin-right:20px;">
                        <span>督促</span>
                        <ul class="dropdown-content">
                            <li><a href="http://17bang.ren/Log/On?prepage=%2fPlan%2fNew&role=%E7%99%BB%E5%BD%95%E7%94%A8%E6%88%B7">求督促</a></li>
                            <li><a href="http://17bang.ren/Plan">督促别人</a></li>
                            <li><a href="http://17bang.ren/Plan?my=f&full=False&due=False&expire=False&Frozen=False">我的目标</a></li>
                            <li><a href="http://17bang.ren/Plan?my=s&full=False&due=False&expire=True&Frozen=False">我的督促</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" style="margin-right:20px;">
                        <span>文章</span>
                        <ul class="dropdown-content">
                            <li><a href="http://17bang.ren/Log/On?prepage=%2fPlan%2fNew&role=%E7%99%BB%E5%BD%95%E7%94%A8%E6%88%B7">求督促</a></li>
                            <li><a href="http://17bang.ren/Plan">督促别人</a></li>
                            <li><a href="http://17bang.ren/Plan?my=f&full=False&due=False&expire=False&Frozen=False">我的目标</a></li>
                            <li><a href="http://17bang.ren/Plan?my=s&full=False&due=False&expire=True&Frozen=False">我的督促</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" style="margin-right:20px;">
                        <span>App下载</span>
                        <ul class="dropdown-content">
                            <li><a href="http://17bang.ren/Log/On?prepage=%2fPlan%2fNew&role=%E7%99%BB%E5%BD%95%E7%94%A8%E6%88%B7">求督促</a></li>
                            <li><a href="http://17bang.ren/Plan">督促别人</a></li>
                            <li><a href="http://17bang.ren/Plan?my=f&full=False&due=False&expire=False&Frozen=False">我的目标</a></li>
                            <li><a href="http://17bang.ren/Plan?my=s&full=False&due=False&expire=True&Frozen=False">我的督促</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" style="margin-right:20px;">
                        <span>未登录</span>
                        <ul class="dropdown-content">
                            <li><a href="http://17bang.ren/Log/On?prepage=%2fPlan%2fNew&role=%E7%99%BB%E5%BD%95%E7%94%A8%E6%88%B7">求督促</a></li>
                            <li><a href="http://17bang.ren/Plan">督促别人</a></li>
                            <li><a href="http://17bang.ren/Plan?my=f&full=False&due=False&expire=False&Frozen=False">我的目标</a></li>
                            <li><a href="http://17bang.ren/Plan?my=s&full=False&due=False&expire=True&Frozen=False">我的督促</a></li>
                        </ul>
                    </li>
                </ul>

            </div>

        </div>

        <div class="information" style="margin-top:74px;">
            <div style="width:1130px;height:22px;text-align:center">
                <span style="float :left; margin-left:40px;">文章</span>
            </div>
        </div>
    </header>

    <main style="margin-left:200px;margin-right:200px;">

        <form action="/" method="post">

            <div style="border-bottom: 1px solid #eee;">
                <a class="prepageBack" href="http://17bang.ren/">返回</a>
                <h1 style="margin-left:30px;"><span style="margin:6px;">®</span>注册</h1>
            </div>

            <div style="width:300px;height:400px;float:left;padding-left:30px;">
                <div class="invitation" style="margin-top:25px;">
                    <div>
                        <a href="http://17bang.ren/FAQ/Account#invite" style="float:right;margin:5px;">为什么需要邀请</a>
                    </div>
                    <div style="clear:both;margin:5px;">
                        <swap>邀请人：(*必填)</swap>
                        <input type="text" name="用户名" maxlength="16" size="35" placeholder="他的用户名，模糊查询只能从头开始" />
                    </div>
                    <div style="clear:both;margin:5px;">
                        <swap>邀请码：(*必填)</swap>
                        <input type="text" name="用户名" maxlength="16" size="35" placeholder="4位数字    " />
                    </div>
                </div>

                <div style=" float:left;  ">

                    <div>
                        <div style="margin-bottom: 15px;margin-top:25px;margin-left:5px;">
                            <b>用户名：(*必填)</b>
                            <br />
                            <input type="text" name="用户名" maxlength="16" size="37" placeholder="登录用户名，可修改，不能重复" />
                        </div>
                        <div style="margin-bottom: 15px;margin-left:5px;">
                            <b>密码：(*必填)</b>
                            <input type="password" name="密码" maxlength="18" size="37" placeholder="不小于4个字符" />
                        </div>
                        <div style="margin-bottom: 15px;margin-left:5px;">
                            <b>验证码：(*必填)</b>
                            <input type="text" name="密码" maxlength="18" size="15" />
                        </div>

                        <input style="margin-left:5px;" type="submit" name="name" value="提交" />
                        <input type="reset" value="重置" />
                        <a> <input type="checkbox" name="记住我" /> 记住我 </a>
                        <a href="http://17bang.ren/Log/On?prepage=%2f">登录</a>
                    </div>

                </div>

            </div>

        </form>

        <div style="float:right; word-break:break-all ;width:450px;height:450px; margin-right:150px;top:20px;">
            <h2>说明</h2>
            <div>
                <ol class="content" type="1">
                    <li><p class="content">我们希望通过一起帮，能直接解决大家在电脑操作/软件使用/编程学习等方面的具体问题</p></li>
                    <li><p class="content">现在互联网远程技术（比如QQ桌面共享）已经非常成熟，当我们再遇到上述问题，如果别人能直接远程给予帮助，岂不是好？</p></li>
                    <li><p class="content">当然，你也可以在你熟悉的领域去帮助别人。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。</p></li>
                    <li><p class="content">公平起见，我们还引入了 帮帮点/币/豆 三级概念，以记录和衡量社区成员的收获和贡献</p></li>
                    <li><p class="content">赶快加入我们，赚取帮帮币吧！</p></li>
                    <li><p><a href="http://17bang.ren/About/Us">了解更多</a></p></li>
                </ol>
            </div>
        </div>

        <div>
            <a class="help" href="http://17bang.ren/Contact/Us">帮助</a>
            <a class="feedBake" href="http://17bang.ren/Suggest/New">反馈</a>
        </div>

    </main>

    <footer style="border-top: 1px solid #eee; clear:both; margin-left:200px;margin-right:200px;">
        <a href="http://17bang.ren/About/Us">关于我们</a>
        <a href="http://17bang.ren/FAQ">常见问题</a>
        <a href="http://17bang.ren/Suggest">意见建议</a>
        <a href="http://17bang.ren/Notice">历史通知</a>
        <a href="http://17bang.ren/Donate">友情捐赠</a>
        <a href="http://17bang.ren/About/Fund">投资2018</a>
        <p style="margin:0px;">友情链接：</p>
        <p style="float:right;"> <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action;jsessionid=3M9momYC1HM1ulxwazjU5-GeLE9OnS_Yqdjt6XwDme18KAb8IgoD!-2108032504">渝ICP备18007191号（备案）</a>© 2019 - 首顾科技 </p>
        <br />
    </footer>

</body>
</html>