
@{
Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Read</title>
</head>
<body>

    姓名：@ViewBag.name <br />
    年龄：@ViewBag.age

</body>
</html>
