@page
@{
    ViewData["Title"] = "seekHelpList";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<link href="~/css/site.css" rel="stylesheet" />

<main class="indent">

    <div id="leftArea">

        <form action="/" method="post">
            <div id="sightGlass">
                <div class="pull-left" style="margin:5px 0px;">

                    <label>
                        <span>不显示</span>
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="已酬谢" /> 已酬谢
                    </label>
                    <label>
                        <a> <input type="checkbox" name="已撤销" /> 已撤销 </a>
                    </label>
                    <label>
                        <a> <input type="checkbox" name="协助中" /> 协助中 </a>
                    </label>

                </div>

                <div class="pull-left" style="margin:5px 0px;">

                    <label style="padding-left:20px;">
                        <span>只显示</span>
                    </label>
                    <label style="padding-left:10px;">
                        <a> <input type="checkbox" name="我的关注" /> 我的关注 </a>
                    </label>
                    <label style="padding-left:10px;">
                        <a> <input type="checkbox" name="有总结" /> 有总结 </a>
                    </label>
                </div>

            </div>
        </form>

        <div class="message" style="padding-top:20px;" >
            <small>
                <span class=" glyphicon glyphicon-calendar" aria-hidden="true"></span>
                2019年03月12日 20点40分
            </small>
            <span style="float:right;">
                <a href="http://17bang.ren/User/1628">asd7231 ③</a>
            </span>
            <div style="clear:both;">
                <span class="wordLink word" style="background-color:#5bc0de">协助中</span>
                <h3 style="display:inline">
                    <a style="color:black" href="http://17bang.ren/Problem/707"> python爬虫设置代理无效</a>
                </h3>
            </div>

            <div style="margin:10px 0px; font-size:92%;">
                <span>
                    如题，初学python,没有用框架，设置了chrome和PhantomJS代理都没有效果
                </span>
            </div>
            <div id="divLink">
                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                <a style="margin-left:10px;" class="word wordLink" href="#" name="java" >Java</a>
                <a class="word wordLink" href="#" name="Crawler">爬虫</a>
                <a class="word wordLink" href="#" name="Python">Python</a>
                <a class="word wordLink" href="#" name="programmingLanguage">编程语言开发</a>
            </div>
            <div class="status">
                <span>
                    <span class="glyphicon glyphicon-usd" aria-hidden="true" style="color:#DCB962"></span>
                    <span><a href="http://17bang.ren/FAQ/Money">悬赏：</a>0</span>
                </span>
                <span>
                    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:red"></span>
                    <span><a href="http://17bang.ren/FAQ/Money">应答：</a>0</span>
                </span>
                <span>
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span><a href="http://17bang.ren/FAQ/Money">总结：</a>0</span>
                </span>
            </div>
        </div>

        <div class="message" style="padding-top:20px;">
            <small>
                <span class=" glyphicon glyphicon-calendar" aria-hidden="true"></span>
                2019年03月12日 20点40分
            </small>
            <span style="float:right;">
                <a href="http://17bang.ren/User/1628">asd7231 ③</a>
            </span>
            <div style="clear:both;">
                <span class="wordLink word" style="background-color: #5cb85c;">协助中</span>
                <h3 style="display:inline">
                    <a style="color:black" href="http://17bang.ren/Problem/707"> net core 自定义过滤器跳转问题</a>
                </h3>
            </div>

            <div style="margin:10px 0px; font-size:92%;">
                <span>
                    如题，初学python,没有用框架，设置了chrome和PhantomJS代理都没有效果
                </span>
            </div>
            <div id="divLink">
                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                <a style="margin-left:10px;" class="word wordLink" href="#" name="java">Java</a>
                <a class="word wordLink" href="#" name="Crawler">爬虫</a>
                <a class="word wordLink" href="#" name="Python">Python</a>
                <a class="word wordLink" href="#" name="programmingLanguage">编程语言开发</a>
            </div>
            <div class="status">
                <span>
                    <span class="glyphicon glyphicon-usd" aria-hidden="true" style="color:#DCB962"></span>
                    <span><a href="http://17bang.ren/FAQ/Money">悬赏：</a>0</span>
                </span>
                <span>
                    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:red"></span>
                    <span><a href="http://17bang.ren/FAQ/Money">应答：</a>0</span>
                </span>
                <span>
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span><a href="http://17bang.ren/FAQ/Money">总结：</a>0</span>
                </span>
            </div>
        </div>

        <div class="message" style="padding-top:20px;">
            <small>
                <span class=" glyphicon glyphicon-calendar" aria-hidden="true"></span>
                2019年03月12日 20点40分
            </small>
            <span style="float:right;">
                <a href="http://17bang.ren/User/1628">asd7231 ③</a>
            </span>
            <div style="clear:both;">
                <span class="wordLink word">已撤销</span>
                <h3 style="display:inline">
                    <a style="color:black" href="http://17bang.ren/Problem/707"> 请求一个类似于百度文库的开源代码</a>
                </h3>
            </div>

            <div style="margin:10px 0px; font-size:92%;">
                <span>
                    如题，初学python,没有用框架，设置了chrome和PhantomJS代理都没有效果
                </span>
            </div>
            <div id="divLink">
                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                <a style="margin-left:10px;" class="word wordLink" href="#" name="java">Java</a>
                <a class="word wordLink" href="#" name="Crawler">爬虫</a>
                <a class="word wordLink" href="#" name="Python">Python</a>
                <a class="word wordLink" href="#" name="programmingLanguage">编程语言开发</a>
            </div>
            <div class="status">
                <span>
                    <span class="glyphicon glyphicon-usd" aria-hidden="true" style="color:#DCB962"></span>
                    <span><a href="http://17bang.ren/FAQ/Money">悬赏：</a>0</span>
                </span>
                <span>
                    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:red"></span>
                    <span><a href="http://17bang.ren/FAQ/Money">应答：</a>0</span>
                </span>
                <span>
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span><a href="http://17bang.ren/FAQ/Money">总结：</a>0</span>
                </span>
            </div>
        </div>

        <div class="message" style="padding-top:20px;">
            <small>
                <span class=" glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <span>2019年03月12日 20点40分 </span>
            </small>
            <span style="float:right;">
                <a href="http://17bang.ren/User/1628">asd7231 ③</a>
            </span>
            <div style="clear:both;">
                <span class="wordLink word" style="background-color:#5bc0de">待协助</span>
                <h3 style="display:inline">
                    <a style="color:black" href="http://17bang.ren/Problem/707"> 请求一个类似于百度文库的开源代码</a>
                </h3>
            </div>

            <div style="margin:10px 0px; font-size:92%;">
                <span>
                    如题，初学python,没有用框架，设置了chrome和PhantomJS代理都没有效果
                </span>
            </div>
            <div id="divLink">
                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                <a style="margin-left:10px;" class="word wordLink" href="#" name="java">Java</a>
                <a class="word wordLink" href="#" name="Crawler">爬虫</a>
                <a class="word wordLink" href="#" name="Python">Python</a>
                <a class="word wordLink" href="#" name="programmingLanguage">编程语言开发</a>
            </div>
            <div class="status">
                <span>
                    <span class="glyphicon glyphicon-usd" aria-hidden="true" style="color:#DCB962"></span>
                    <span><a href="http://17bang.ren/FAQ/Money">悬赏：</a>5</span>
                </span>
                <span>
                    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:red"></span>
                    <span><a href="http://17bang.ren/FAQ/Money">应答：</a>0</span>
                </span>
                <span>
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span><a href="http://17bang.ren/FAQ/Money">总结：</a>0</span>
                </span>
            </div>
        </div>

        <div class="message" style="padding-top:20px;">
            <small>
                <span class=" glyphicon glyphicon-calendar" aria-hidden="true"></span>
                2019年03月12日 20点40分
            </small>
            <span style="float:right;">
                <a href="http://17bang.ren/User/1628">asd7231 ③</a>
            </span>
            <div style="clear:both;">
                <span class="wordLink word" style="background-color: #5cb85c;">已酬谢</span>
                <h3 style="display:inline">
                    <a style="color:black" href="http://17bang.ren/Problem/707"> 请求一个类似于百度文库的开源代码</a>
                </h3>
            </div>

            <div style="margin:10px 0px; font-size:92%;">
                <span>
                    如题，初学python,没有用框架，设置了chrome和PhantomJS代理都没有效果
                </span>
            </div>
            <div id="divLink">
                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                <a style="margin-left:10px;" class="word wordLink" href="#" name="java">Java</a>
                <a class="word wordLink" href="#" name="Crawler">爬虫</a>
                <a class="word wordLink" href="#" name="Python">Python</a>
                <a class="word wordLink" href="#" name="programmingLanguage">编程语言开发</a>
            </div>
            <div class="status">
                <span>
                    <span class="glyphicon glyphicon-usd" aria-hidden="true" style="color:#DCB962"></span>
                    <span><a href="http://17bang.ren/FAQ/Money">悬赏：</a>8</span>
                </span>
                <span>
                    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:red"></span>
                    <span><a href="http://17bang.ren/FAQ/Money">应答：</a>0</span>
                </span>
                <span>
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span><a href="http://17bang.ren/FAQ/Money">总结：</a>0</span>
                </span>
            </div>
        </div>

        <ul class="pagination">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a class="active" href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">»</a></li>
        </ul>

    </div>

    <div id="rightArea">

        <div id="keyWord" class="keyWord">
            <div>
                <span class="font-color" style="font-size: 24px;">关键字</span>
            </div>
            <hr />
            <div>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">编程语言开发</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">C#</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">JAVA</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">JavaScript</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">编程语言开发</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">C#</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">JAVA</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">JavaScript</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">编程语言开发</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">C#</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">JAVA</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">JavaScript</a>
            </div>
            <hr>

        </div>

        <div id="article">
            <h3>精品文章</h3>
            <hr />
            <ol>
                <li>
                    <a href="http://17bang.ren/Article/424">培训班的同学，拜托不要把用人单位想得那么傻，好不好？！</a>
                </li>
                <li>
                    <a href="http://17bang.ren/Article/422">人心</a>
                </li>
                <li>
                    <a href="http://17bang.ren/Article/421">榜样的力量（二）</a>
                </li>
                <li>
                    <a href="http://17bang.ren/Article/421">榜样的力量</a>
                </li>
                <li>
                    <a href="http://17bang.ren/Article/419">请个假，立个誓</a>
                </li>
            </ol>
            <div style="margin:0px 10px; height:25px;width:260px;">
                <a style="float:right" href="http://17bang.ren/Article">更多</a>
            </div>
        </div>

        <div id="advertisement">
            <ol>
                <li> <a href="#">线上学习不能自律？试试这个……</a></li>
                <li> <a href="#">“一起帮·程序员客栈”筹办思路</a> </li>
                <li> <a href="#">“源栈”2019课程设置</a> </li>
                <li>  <a href="#">免费广告位，抢到就是赚到！</a></li>
                <li> <a href="#">免费广告位，抢到就是赚到！</a></li>
                <li><a href="#">本站主机由西部数码提供</a></li>
            </ol>
            <div style="margin:0px 10px; height:25px;width:260px;">
                <a style="float:right;font-size:80%" href="http://17bang.ren/Article">广告</a>
            </div>
        </div>

    </div>

    @*<script src="~/js/1dom.js" type="text/javascript"></script>*@
    @*<script src="~/js/2事件.js" type="text/javascript"></script>*@
    @*<script src="~/js/3正则表达式.js" type="text/javascript"></script>*@
    <script src="~/js/4面向对象封装.js"></script>
</main>