@page
@model _17bang.Pages.MoleModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mole</title>
</head>
<body>

    <div>


    </div>

</body>
</html>
