@page
@{
    ViewData["Title"] = "Problem";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<link href="~/css/site.css" rel="stylesheet" />

<link href="~/css/ProblemStyleSheet.css" rel="stylesheet" />

<main class="indent">

    <div id="leftArea">

        <div class="message" style="padding-top:20px;">
            <small>
                <span>2019年03月12日 20点40分 </span>
            </small>
            <span style="float:right;">
                <a href="http://17bang.ren/User/1628">asd7231 ③</a>
            </span>
            <div style="clear:both;">
                <span class="wordLink word" style="background-color:#5bc0de">
                    待协助
                </span>
                <span style="font-size:145%;">
                    <a style="color:black" href="http://17bang.ren/Problem/707"> 老板一直拖着不发工资，恶意扣款，没签劳动合同，该怎么妥善解决？</a>
                </span>
            </div>

            <div style="margin:10px 0px; font-size:100%;">

                <p>我有几个朋友是做快递的，去年12月份的工资老板拖着没发。</p>

                <p>今年来了之后我朋友干了半个月，要求老板发工资。老板拖着12月份，1月份的，2月份的工资一直不发。</p>

                <p>
                    昨天我朋友因为没发工资，没有再去上班，老板打电话威胁说，不来上班算旷工。一天扣几百。而且没送出去的快递有罚款投诉也都算
                    在他们头上。这样合理吗。（工单投诉罚款比较严重，一次500，两次1000）。
                </p>

                <p>   还有一个人去年走的时候也说过，年后家里有事，暂时来不了。12月，1月的工资也没发。发短信也不回。打电话总是拖着，有时电话也不接。</p>

                <p>  想问，这样他们去告劳动仲裁能拿到属于他们的工资吗，大概5.6个人都没发工资。也都没签劳动合同。没有干满一年的。</p>

                <p>  已经撕破脸了，这种情况还要不要去上班。算旷工是成立的吗。</p>

                <p>  具体要怎么做才能拿回自己的工资。需要准备什么材料吗。请飞哥详细说一下，感谢。</p>

                <p>  我也不知道要补充什么。如果上面的情况资料不足不好详细回答，也可以私聊问我。</p>

            </div>
            <div id="tag">
                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                <a class="word wordLink" style="margin-left: 20px;" href="#">劳动法</a>
                <a class="word wordLink" href="#">工资</a>
                <a class="word wordLink" href="#">法律</a>
                <a class="word wordLink" href="#">顾问咨询</a>
            </div>
            <div class="status">
                <span>
                    <span class="glyphicon glyphicon-usd" aria-hidden="true" style="color:#DCB962"></span>
                    <span>悬赏：</span>25
                </span>
                <span>
                    <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                    <span>给了：</span>叶飞
                </span>
                <span>
                    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:red"></span>
                    <a href="http://17bang.ren/FAQ/Money">应答：</a>1
                </span>
                <span>
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <a href="http://17bang.ren/FAQ/Money">总结：</a>1
                </span>
            </div>

            <div id="discuss" style="margin-top:15px;">
                <div>
                    <label style="padding-left:0px;">
                        星级:
                    </label>
                    <span class="glyphicon glyphicon-star " style="color:red;margin-top:3px;"></span>
                    <span class="glyphicon glyphicon-star " style="color:red;margin-top:3px;"></span>
                    <span class="glyphicon glyphicon-star " style="color:red;margin-top:3px;"></span>
                    <span class="glyphicon glyphicon-star " style="color:red;margin-top:3px;"></span>
                    <span class="glyphicon glyphicon-star " style="color:red;margin-top:3px;"></span>
                    <span class="glyphicon glyphicon-star " style="color:red;margin-top:3px;"></span>

                </div>

                <div>
                    <label style="padding-left:0px;">
                        评价:
                    </label>
                    <span>感谢飞哥的帮助。</span>
                </div>
            </div>

            <div id="replay">
                <h3>
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span>应答</span>
                    <small>（下拉快捷留言）</small>
                </h3>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2"><span class="caret"></span></span>
                </div>
                <p class="text-info small">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    知道“一起帮”的协助流程么？不要搞错哟：应答<span style="color:#8a6d3b">握手</span>再远程……
                </p>

            </div>

        </div>

        <div>


        </div>

    </div>

    <div id="rightArea">

        <div id="keyWord" class="keyWord">
            <div>
                <span class="font-color" style="font-size: 24px;">关键字</span>
            </div>
            <hr />
            <div>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">编程语言开发</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">C#</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">JAVA</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">JavaScript</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">编程语言开发</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">C#</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">JAVA</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">JavaScript</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">编程语言开发</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">C#</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">JAVA</a>
                <a class="word wordLink" href="http://17bang.ren/Problem?keyword=163">JavaScript</a>
            </div>
            <hr>

        </div>

        <div id="article">
            <h3>精品文章</h3>
            <hr />
            <ol>
                <li>
                    <a href="http://17bang.ren/Article/424">培训班的同学，拜托不要把用人单位想得那么傻，好不好？！</a>
                </li>
                <li>
                    <a href="http://17bang.ren/Article/422">人心</a>
                </li>
                <li>
                    <a href="http://17bang.ren/Article/421">榜样的力量（二）</a>
                </li>
                <li>
                    <a href="http://17bang.ren/Article/421">榜样的力量</a>
                </li>
                <li>
                    <a href="http://17bang.ren/Article/419">请个假，立个誓</a>
                </li>
            </ol>
            <div style="margin:0px 10px; height:25px;width:260px;">
                <a style="float:right" href="http://17bang.ren/Article">更多</a>
            </div>
        </div>

        <div id="advertisement">
            <ol>
                <li> <a href="#">线上学习不能自律？试试这个……</a></li>
                <li> <a href="#">“一起帮·程序员客栈”筹办思路</a> </li>
                <li> <a href="#">“源栈”2019课程设置</a> </li>
                <li>  <a href="#">免费广告位，抢到就是赚到！</a></li>
                <li> <a href="#">免费广告位，抢到就是赚到！</a></li>
                <li><a href="#">本站主机由西部数码提供</a></li>
            </ol>
            <div style="margin:0px 10px; height:25px;width:260px;">
                <a style="float:right;font-size:80%" href="http://17bang.ren/Article">广告</a>
            </div>
        </div>

    </div>

</main>

