@page
@{
    ViewData["Title"] = "seekHelpList";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}


<link href="~/css/site.css" rel="stylesheet" />

<main class="indent">
    <p>学费计算器</p>
        <div style="margin:10px,20px,10px,20px">入栈时间：<input type="date" id="startTime" /></div><br />
        <div style="margin:10px,20px,10px,20px">出栈时间：<input type="date" id="endTime" /></div><br />
        <input type="button" id="btn" value="提交"/>
    <script src="~/js/学费计算器.js" type="text/javascript"></script>
</main>